<link rel="stylesheet" type="text/css" href="/static/jchat/js/jScrollPane/jScrollPane.css" />
<link href="/static/jchat/css/jchat.css" rel="stylesheet" type="text/css" media="screen,projection" />

<div id="chatContainer">

    <div id="chatLineHolder"></div>
    
    <div id="chatBottomBar" class="rounded">
        <div class="tip"></div>
        
        <form id="submitForm" method="post" action="">
            <input id="chatText" name="chatText" class="rounded" maxlength="255" />
            <input type="submit" class="blueButton" value="Envoyer" />
        </form>
    </div>
</div>

<script type="text/javascript" src="/static/jchat/js/jchat.js"></script>
{% if JQUERY_NEEDED %}
<script type="text/javascript" src="/static/jchat/js/jquery.js"></script>
{% endif %}

<script src="/static/jchat/js/jScrollPane/jquery.mousewheel.js"></script>
<script src="/static/jchat/js/jScrollPane/jScrollPane.min.js"></script>


<script type="text/javascript">
$(window).ready(function(){
	chat_bind();
});
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
